*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario{
    height: 200px;
}

.mario-luigi{
    height: 500px;
}

button{
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
   
}

p{
    color: white;
}

body{
   
    height: 100vh;
}

.caixa-principal{
    width: 50%;
  
}

.caixa-video{
    position: fixed;
    z-index: -1;
    top: 0;

}

video{
    min-height: 105%;
    min-width: 105%;
    position: fixed;
}

.caixa-mae{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.mascara{
    height:106%;
    width: 106%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.whatsapp{
height: 60px;
position: fixed;
right: 20px;
bottom: 20px;
}


.header{
display: flex;
align-items: center;
gap: 30px;
margin: 30px;
cursor: pointer;
}

 .header img{
height: 60px;
 }

 .header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
 }

 .header a:hover{
    color: #c51111;
    font-size: 25px;
    transition: 0.5s  ease-in-out;
 }

 button:hover {
background-color: blue;
font-size: 15px;
transition: 0.5s ease-in-out;
border-radius: 10px;
 }

 .formulario-fale-conosco{
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
 }

 input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    
 }

 textarea{
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    
 }

.mascara-form{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 105vw;
    height: 105vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}


/* Media query */
/* max- width abaixo do valor vai aplicar a mudanca */
@media(max-width: 1100px){
 p{
    display: none;
 }
 .caixa-mae{
    flex-direction: column;
    padding: 10px;  
    justify-content: flex-start;
 }
 .caixa-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .mario-luigi{
    width: 80vw;
    height: auto;
 }

 .header{
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
 }

 .header a{
font-size: 20px;
 }

.header img{
    display: none;
}
}
